body{
    background-color: #212121;
    display: flex;
    position: relative;
}
.title {
    color: white;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 24px;
}
.title3 {
    color: white;
    font-family: 'Segoe UI';
    font-size: 16px;
    margin: 2px;
}

/*Navigation Tab*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    max-width: 200px;
    background-color: #111111;
    height: 100%; 
    position: fixed; 
    overflow: auto; 
}
li {
    text-align: center;
    border-bottom: 2px solid whitesmoke;
}
li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI';
    font-weight: bold;
}
li a:hover {
    background-color: #768cdd;
}
.active {
    background-color: #4d6ddd;
    color: white;
}
li:last-child {
    border-bottom: none;
}


/*Operasi Dasar*/
.title2 {
    margin-bottom: 10px;
    color: white;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 19px;
}
input{
    display: block;
    border: none;
    color: #212121;
    border-bottom: solid 3px #ddd;
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Segoe UI';
    transition: all 300ms;
    text-align: center;
    width: 80%;
    max-width: 90%;
}
input:hover{
    border-bottom-color: #4d6ddd;
}
input:focus{
    background-color: #badc58;
    border: none;
}
button{
    font-family: 'Segoe UI';
    border: none;
    background: #f162ff;
    transition: all 300ms;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin: 5px auto;
    width: 20%;
    max-width: 100%;
}
button:hover{
    cursor: pointer;
    background: #4d6ddd;
}
.tempBox{
    border: solid;
    padding: 40px 50px;
    border-radius: 6px;
    border-color: whitesmoke;
    justify-content: center;
    margin-top: 5px;
    margin-left: 25%;
    width: 55%;
    max-width: 100%;
}
.droptemp1{
    font-family: 'Segoe UI';
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background-color: #4d6ddd;
}

.droptemp2{
    font-family: 'Segoe UI';
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background-color: #4d6ddd;
}


.output{
    color: #45ff83;
    font-family: 'Segoe UI';
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}


footer {
    font-weight: bold;
    font-size: 18px;
	position: fixed;
    text-align: center;
  	bottom: 0;
  	width: 100%;
    height: 30px;
    background-color: #4d6ddd;
  	color: white;
    vertical-align: top;
}